# *.json filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
tsf_model.keras filter=lfs diff=lfs merge=lfs -text
logs/fit filter=lfs diff=lfs merge=lfs -text
logs/fit/20251205-092359/train/events.out.tfevents.1764944639.MikeW-MacBook-Air-1022.local.36999.0.v2 filter=lfs diff=lfs merge=lfs -text
logs/fit/20251205-092359/validation/events.out.tfevents.1764944816.MikeW-MacBook-Air-1022.local.36999.1.v2 filter=lfs diff=lfs merge=lfs -text
